@import "../../design-tokens/css/_variables.css";
@import url('https://fonts.cdnfonts.com/css/circular-std');
:host {
  display: block;
  box-sizing: border-box;
}


.full-input {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid var(--belo-color-border-border-color-border-gray-200);
  width: 400px;
  height: 56px;
  border-radius: 6px;
  
}
input {
  outline: none;
  border: none;
  font-size: var(--belo-font-family-font-family-text-fontsize);
  font-family: var(--belo-font-family-font-family-text-font-family);
  padding-left: 16px;
  padding-bottom: 18px;
}
label {
  display: block;
  font-size: var(--belo-font-size-font-size-20-fontsize);
  font-family: var(--belo-font-family-font-family-text-font-family);
  padding-left: 16px;
  color: transparent;
}

.hint-true {
  font-size: var(--belo-font-size-font-size-20-fontsize);
  font-family: var(--belo-font-family-font-family-text-font-family);
  color: var(--belo-color-text-color-text-weak);
  padding-left: 4px;
  margin-top: 4px;
}

.full-input:focus-within {
  border-color: var(--belo-color-border-color-border-gray-400);
}

input:focus +label {
  font-family: var(--belo-font-family-font-family-text-font-family);
  color: var(--belo-color-text-color-text-weak);

}

.disabled {
  background-color: var(--belo-color-background-color-background-gray-25);
  pointer-events: none;

}

.disabled-text {
  font-family: var(--belo-font-family-font-family-text-font-family);
  color: var(--belo-color-text-color-text-weaker);
}

.disabled-text::placeholder{
  font-family: var(--belo-font-family-font-family-text-font-family);
  color: var(--belo-color-text-color-text-weaker);

}

input:focus +label.required-text {
  font-family: var(--belo-font-family-font-family-text-font-family);
  color: red;

}

.required {
  background-color: var(--belo-color-background-error-color-background-error-highlight);
  border-color: var(--belo-color-border-color-border-error);
}
.required-focused{
  background-color: transparent;
}
.full-input.required:focus-within{
  border-color: var(--belo-color-border-color-border-error);
  background-color: transparent;
}