@import "../../design-tokens/css/_variables.css";
@import url('https://fonts.cdnfonts.com/css/circular-std?styles=17909,17910,17911,17912,17907,17908,17905,17906');
:host {
  display: block;
}
.indicator {
  width: 16px;
  height: 16px;
  background-color: var(--belo-color-background-brand-color-background-brand);
  border-radius: 50%;
  border: 1px solid var(--belo-color-background-brand-color-background-brand);
}

p {
font-family: var(--belo-font-family-font-family-text-font-family);
font-size: 8.5px;
color: var(--belo-color-text-inverse-color-text-inverse);
text-align: center;
line-height: 0px;
}