@import "../../design-tokens/css/_variables.css";
@import url('https://fonts.cdnfonts.com/css/circular-std?styles=17909,17910,17911,17912,17907,17908,17905,17906');

.btn {
  display: block;
  font-family: var(--belo-font-family-font-family-text-font-family), 'sans-serif';
  font-size: calc(var(--belo-font-paragraph-p-font-size) * 1px);
  font-weight: var(--belo-font-paragraph-p-font-weight);
  line-height: calc(var(--belo-font-paragraph-p-line-height) * 1px);

  background: var(--belo-gradient-background-color-background-gradient);
}
