@import "../../design-tokens/css/_variables.css";
@import url('https://fonts.cdnfonts.com/css/circular-std?styles=17909,17910,17911,17912,17907,17908,17905,17906');

:host {
  display: block;
  
}

p,h2 {
  margin: 0px;
  padding: 0px;
}

p {
  color: var(--belo-color-text-color-text-weak);
  padding-top: 8px;
}

